body{
    background-image: url("background-piste.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2{
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

p.carousel{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: auto;
    color: black;
}